/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /* background-color:#E4E4E4; */
    /* background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%); */
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    text-transform:uppercase;
    width:100%;
    background: linear-gradient(45deg, blue 50%, red 50%);
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.toggle {
    background: red;
    width: 150px;
    font-size: 1.2em;
    margin: 0.2em;
    padding: 0.5em;
}

.cupertino-pane {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    overflow: hidden auto;
}

.cupertino-pane li, .nested-pane {
    padding: 2em 0;
    background: silver;
    border: 5px solid black;
    will-change: transform;
}

.cupertino-pane .scroller {
    height: 70vh;
    overflow-y: hidden;
}

.cupertino-pane .content {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 300px;
}

.cupertino-pane-wrapper .scroller {
    width: calc(100% / 3);
    transition: transform ease 0.5s;
    position: relative;
    left: 0;
    right: 0;
    opacity: 1;
    background: lightblue;
}

.cupertino-pane-wrapper .scroller.second {
    background: greenyellow;
}

.cupertino-pane-wrapper .scroller.second.active {
    transform: translateX(-100%);
}

.cupertino-pane-wrapper .scroller.third {
    background: purple;
}

.cupertino-pane-wrapper .scroller.third.active {
    transform: translateX(-200%);
}

.cupertino-pane-wrapper button.switch-tabs {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: red;
    top: 10px;
    left: 10px;
    border-radius: 1000px;
    padding: 1em;
    z-index: 12;
}

.inject, .toggle-ha, .toggle-cv, .toggle-op {
    padding: 1em;
    margin: 0.5em 0;
}
.replyHeaderMsg, .chatMsg {
    margin: 5px 0;
    position: relative;
    word-wrap: break-word;
}
ul.ha .replyHeaderMsg, ul.ha .chatMsg {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3D(0, 0, 0);
}
.cf {
    zoom: 1;
}
 .cf:before, .cf:after {
    content: " ";
    display: table;
}
.partner.avatar {
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://cdn.dev.textras.com/images/60d9f5f…/thumbnail.jpeg?w=100&q=100&token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYwZDllNmVhNmFlOWIzMDAxMzIzMjVjMSIsImNvdW50cnlDb2RlIjoiTkdBIiwiaWF0IjoxNjI5NTg3NzgyLCJleHAiOjE2Mjk4NDY5ODJ9.oE9Lx4U7m4nb_ozTyx8NO15Pc0mu-B_kFngdwt2mI_E&v=);
}
@media (max-width: 320px) {
    .theirMsg .avatar, .myMsg .avatar {
        width: 27px;
    }
}
.theirMsg .avatar {
    margin-right: 10px;
    float: left;
    width: 34px;
}
.replyHeaderMsg .textContainer, .chatMsg .textContainer, .replyHeaderMsg .partner, .chatMsg .partner {
}
.avatar {
    visibility: hidden;
}
.replyHeaderMsg.media .textContainer, .chatMsg.media .textContainer {
    padding: 0 !important;
}
.sticker .textContainer, li.media .textContainer {
    background-color: #fff !important;
    border: 1px solid #fff !important;
}
.theirMsg .textContainer, .myMsg .textContainer {
    border-radius: 7px;
}
.theirMsg .textContainer, #isTyping.textContainer {
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    color: #6D6D6D;
    float: left;
}
.replyHeaderMsg .textContainer, .chatMsg .textContainer, .replyHeaderMsg .partner, .chatMsg .partner {
}
.textContainer {
    transition: transform 0.2s;
}
@media (max-width: 320px) {
    .textContainer {
        max-width: 50%;
    }
}
.textContainer {
    line-height: 1.2em;
    padding: 10px;
    position: relative;
    max-width: 62%;
    min-width: 75px;
}
.public .in-chat-handle, #inProfileMasterChat .in-chat-handle {
    display: block;
    text-align: initial;
}
.theirMsg .in-chat-handle {
    color: #002a80;
}
.in-chat-handle {
    color: #999;
    font-size: 0.8em;
    display: block;
    text-align: initial;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.textContainer .text {
    overflow: hidden;
    font-size: 14px;
    line-height: 16px;
    /* display: flex; */
    word-break: break-word;
    display: block;
    max-width: 100%;
    width: 187.50000000000003px;
    white-space: pre-wrap;
    margin: 0;
}
.textContainer .text span {
    display: block;
    padding-top: 133.33333333333331%;
}
li:not(.gif) .aspect-ratio-wrapper {
    background-color: #e5e5e5;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
ul.op li:not(.gif) .aspect-ratio-wrapper {
    animation: redraw 10s linear infinite;
}
ul.cv li:not(.gif) .aspect-ratio-wrapper {
    content-visibility: auto;
}
.aspect-ratio-wrapper {
    display: block;
}
.aspect-ratio-wrapper {
    position: relative;
    height: 0;
    overflow-y: hidden;
}
#currentChatMessagesListWrapper.public .gif .textContainer .mediaMsg video, #currentChatMessagesListWrapper.public .textContainer .mediaMsg img {
    /* max-height: 150px !important; */
    /* width: 99% !important; */
}
li.media .mediaMsg img {
    border: 1px solid #e5e5e5;
    min-height: 80px;
    visibility: visible;
}
.gif .mediaMsg video, .mediaMsg img {
    max-width: 99%;
    max-height: 250px;
    width: 100%;
}
.aspect-ratio-wrapper img {
/* 			visibility: hidden; */
}
.aspect-ratio-wrapper video, .aspect-ratio-wrapper img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.in-chat-img-text {
    color: black;
    font-size: 0.8em;
    display: block;
    text-align: initial;
    border-left: 1px solid #ccc;
    padding: 0 5px;
}
.replyHeaderMsg.media .textContainer .timeInfo, .chatMsg.media .textContainer .timeInfo {
    top: 0;
}
.textContainer>.timeInfo {
    color: #666;
    float: right;
    font-size: .6em;
    height: 2em;
    position: absolute;
    top: -1.7em;
    right: 0;
    opacity: 0;
}
.msgNotifications {
    line-height: 1.2em;
    padding: 3px;
    position: relative;
    max-width: 65%;
    min-width: 140px;
    left: 17.5%;
    float: left;
    width: 65%;
    z-index: -10;
    clear: both;
    transition: margin-top 0.5s, opacity 0.5s cubic-bezier(1,-1,.5,2);
    margin-top: -12%;
    opacity: 0;
}
.msgNotifications span {
    font-size: xx-small;
    float: right;
    margin-right: 5%;
}
.theirMsg .reply-btns-container {
    float: left;
    margin-left: 44px;
}
.theirMsg .reply-btns-container, .myMsg .reply-btns-container {
    display: block;
    padding: 7px 0;
    clear: both;
    color: #777;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.theirMsg .reply-btns-container > .reply-btn:nth-child(1) {
    margin-left: 0;
}
.theirMsg .reply-btns-container > .reply-btn, .myMsg .reply-btns-container > .reply-btn {
    margin: 0 0.5em;
}
.theirMsg .replyToChatMsg, .theirMsg .view-replies {
    float: left;
}
.theirMsg .replyToChatMsg, .theirMsg .view-replies, .myMsg .replyToChatMsg, .myMsg .view-replies {
    display: block;
    padding: 7px 0;
    clear: both;
    color: #777;
}
.cf:after {
    clear: both;
}
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.chatTimestampGroup, .notifyNewStatusDivider span {
    position: relative;
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    height: 20px;
    line-height: 38px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}